* {
  text-transform: capitalize;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.mobile-bar {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.time {
  margin-right: 280px;
  margin-left: 20px;
  align-items: flex-start;
}

.wifi {
  margin-right: 12px;
}

.cellular {
  margin-right: 12px;
}

.nav {
  padding: 20px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
}

.my-logo {
  font-style: normal;
  font-weight: bold;
  line-height: 1.3rem;
  text-decoration: none;
  font-size: 19px;
  color: #6070ff;
}

.navbar {
  height: 18px;
  border: none;
  background-color: #fff;
}

.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
  background-color: white;
  background-image: url(assets/header-shape.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  height: 700px;
  border-bottom-left-radius: 50px;
}

.greet {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: rgb(0, 9, 41);
  text-shadow: steelblue;
}

.intro {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: -40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.social-text {
  color: #6070ff;
  font-size: 24px;
}

.social-icon {
  margin-left: -15px;
  display: flex;
  justify-content: start;
  font-size: 30px;
}

.twitter-handle {
  padding: 0 15px;
  margin-right: 3px;
}

.twitter-handle:hover {
  opacity: 0.7;
  box-shadow: 5px 5px 5px royalblue;
  transition: 100ms;
}

.twitter-handle:active {
  opacity: 0.3;
}

.linkedin-handle {
  padding: 0 15px;
  margin-right: 12px;
}

.linkedin-handle:hover {
  opacity: 0.7;
  box-shadow: 5px 5px 5px royalblue;
  transition: 100ms;
}

.linkedin-handle:active {
  opacity: 0.3;
}

.github-handle {
  padding: 0 15px;
  margin-right: 12px;
}

.github-handle:hover {
  opacity: 0.7;
  box-shadow: 5px 5px 5px royalblue;
  transition: 100ms;
}

.github-handle:active {
  opacity: 0.3;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
}

.work {
  background-color: #e5e5e5;
  width: 100%;
}

.work-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 10px;
}

.project-title {
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 42px;
  color: rgb(0, 10, 47);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 12px;
  margin-left: 15;
}

.some-list {
  margin: 5px 10px;
  margin-left: 15px;
}

.work-info {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 15px;
}

.lang-list {
  /*display: flex;
  justify-content: space-around;
  align-items: center;*/
  width: 82%;
  margin-left: -5%;
  padding: 4px 12px;
}

.Html {
  margin: 12px 2px;
  padding: 5px 12px;
  font-size: 16px;
  color: #6070ff;
  background-color: #ebebff;
  border: 2px solid #ebebff;
  border-radius: 9px;
  outline: none;
  float: left;
}

.Css {
  margin: 12px 2px;
  padding: 5px 10px;
  font-size: 16px;
  color: #6070ff;
  background-color: #ebebff;
  border: 2px solid #ebebff;
  border-radius: 9px;
  outline: none;
  float: left;
}

.js {
  margin: 12px 2px;
  padding: 5px 10px;
  font-size: 15px;
  color: #6070ff;
  background-color: #ebebff;
  border: 2px solid #ebebff;
  border-radius: 9px;
  outline: none;
  float: left;
}

.button {
  margin: 1.3rem;
  padding: 0.7rem 1.5rem;
  font-size: 20px;
  color: #396df2;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #396df2;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #396df2;
  color: #fff;
  border: 1px solid #396df2;
  opacity: 0.6;
}

.button:active {
  background-color: #396df2;
  color: #fff;
  border: 1px solid #396df2;
  opacity: 1;
}

#project_1 {
  margin: 10px 10px;
}

#project_2 {
  margin: 10px 10px;
}

#project_3 {
  margin: 10px 10px;
}

#project_4 {
  margin: 10px 10px;
}

.aboutme_container {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  border: 3px solid #fff;
  border-top-right-radius: 25% 50px;
}

.about_me {
  display: flex;
  margin: 70px 0 40px 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: rgb(0, 9, 41);
  text-shadow: steelblue;
}

.intro_2 {
  display: flex;
  justify-content: center;
  margin: -20px 0 35px 35px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.social-text_2 {
  margin: 10px 35px;
  color: #6070ff;
  font-size: 24px;
}

.social-icon_2 {
  margin: -30px 12px 20px 20px;
  display: flex;
  justify-content: start;
  font-size: 30px;
}

.skill-list {
  margin: 5px;
  padding: 0;
}

.languages {
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 12px 15px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.js_2 {
  padding: 5px;
  line-height: 50px;
  display: flex;
  background-color: whitesmoke;
  border: 3px solid whitesmoke;
  margin: 5px;
  border-radius: 3px;
  text-align: center;
}

.js_2 > p {
  margin-left: 10px;
}

.Html_2 {
  padding: 5px;
  line-height: 50px;
  display: flex;
  background-color: whitesmoke;
  border: 3px solid whitesmoke;
  margin: 5px;
  border-radius: 3px;
  text-align: center;
}

.Html_2 > p {
  margin-left: 10px;
}

.Css_2 {
  padding: 5px;
  line-height: 50px;
  display: flex;
  background-color: whitesmoke;
  border: 3px solid whitesmoke;
  margin: 5px;
  border-radius: 3px;
  text-align: center;
}

.Css_2 > p {
  margin-left: 10px;
}

.framework {
  margin: 5px 5px 5px 0;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  color: black;
}

.skill_txt {
  margin: 4px 0;
  font-size: 20px;
  height: 40px;
  padding: 4px;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  color: black;
  justify-content: space-between;
}
