* {
  text-transform: capitalize;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

/*---------------------------- Phone styles --------------------------------*/

.nav {
  padding: 20px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
}

.my-logo {
  font-style: normal;
  font-weight: bold;
  line-height: 1.3rem;
  text-decoration: none;
  font-size: 19px;
  color: #6070ff;
}

.navbar {
  height: 18px;
  border: none;
  background-color: #fff;
}
.nav-list {
  display: none;
}
.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 18px;
  background-color: white;
  background-image: url(assets/header-shape.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  height: 700px;
  border-bottom-left-radius: 50px;
}

.greet {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  text-shadow: steelblue;
}

.intro {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.social-text {
  color: #6070ff;
  font-size: 24px;
}

.social-icon {
  margin-left: -15px;
  display: flex;
  justify-content: start;
  font-size: 30px;
}

.twitter-handle {
  padding: 0 15px;
  margin-right: 3px;
}

.twitter-handle:hover {
  opacity: 0.7;
  box-shadow: 5px 5px 5px royalblue;
  transition: 100ms;
}

.twitter-handle:active {
  opacity: 0.3;
}

.linkedin-handle {
  padding: 0 15px;
  margin-right: 12px;
}

.linkedin-handle:hover {
  opacity: 0.7;
  box-shadow: 5px 5px 5px royalblue;
  transition: 100ms;
}

.linkedin-handle:active {
  opacity: 0.3;
}

.github-handle {
  padding: 0 15px;
  margin-right: 12px;
}

.github-handle:hover {
  opacity: 0.7;
  box-shadow: 5px 5px 5px royalblue;
  transition: 100ms;
}

.github-handle:active {
  opacity: 0.3;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
}

.work {
  background-color: #e5e5e5;
  width: 100%;
}

.work-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 10px;
}

.project-title {
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 42px;
  color: rgb(0, 10, 47);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 12px;
  margin-left: 15;
}

.some-list {
  margin: 5px 10px;
  margin-left: 15px;
}

.work-info {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 15px;
}

.lang-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 82%;
  margin-left: -5%;
  padding: 4px 12px;
}

.Html {
  margin: 12px 2px;
  padding: 5px 12px;
  font-size: 16px;
  color: #6070ff;
  background-color: #ebebff;
  border: 2px solid #ebebff;
  border-radius: 9px;
  outline: none;
}

.Css {
  margin: 12px 2px;
  padding: 5px 10px;
  font-size: 16px;
  color: #6070ff;
  background-color: #ebebff;
  border: 2px solid #ebebff;
  border-radius: 9px;
  outline: none;
}

.js {
  margin: 12px 2px;
  padding: 5px 10px;
  font-size: 15px;
  color: #6070ff;
  background-color: #ebebff;
  border: 2px solid #ebebff;
  border-radius: 9px;
  outline: none;
}

.button {
  margin: 1.3rem;
  padding: 0.7rem 1.5rem;
  font-size: 20px;
  color: #396df2;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #396df2;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #396df2;
  color: #fff;
  border: 1px solid #396df2;
  opacity: 0.6;
}

.button:active {
  background-color: #396df2;
  color: #fff;
  border: 1px solid #396df2;
  opacity: 1;
}

#project_1 {
  margin: 10px 10px;
}

#project_2 {
  margin: 10px 10px;
}

#project_3 {
  margin: 10px 10px;
}

#project_4 {
  margin: 10px 10px;
}

.aboutme_container {
  background-color: #fff;

  /* margin: 10px;
  padding: 10px; */
  border: 3px solid #fff;
  border-top-right-radius: 25% 50px;
}

.about_me {
  display: flex;
  margin: 70px 0 40px 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: rgb(0, 9, 41);
  text-shadow: steelblue;
}

.intro_2 {
  display: flex;
  justify-content: center;
  margin: -20px 0 35px 35px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.social-text_2 {
  margin: 10px 35px;
  color: #6070ff;
  font-size: 24px;
}

.social-icon_2 {
  margin: -30px 12px 20px 20px;
  display: flex;
  justify-content: start;
  font-size: 30px;
}

.skills{
  margin: 5px;
  padding: 0;
}

.languages {
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 12px 15px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.js_2 {
  padding: 5px;
  line-height: 50px;
  display: flex;
  background-color: whitesmoke;
  border: 3px solid whitesmoke;
  margin: 5px;
  border-radius: 3px;
  text-align: center;
}

.js_2 > p {
  margin-left: 10px;
}

.Html_2 {
  padding: 5px;
  line-height: 50px;
  display: flex;
  background-color: whitesmoke;
  border: 3px solid whitesmoke;
  margin: 5px;
  border-radius: 3px;
  text-align: center;
}

.Html_2 > p {
  margin-left: 10px;
}

.Css_2 {
  padding: 5px;
  line-height: 50px;
  display: flex;
  background-color: whitesmoke;
  border: 3px solid whitesmoke;
  margin: 5px;
  border-radius: 3px;
  text-align: center;
}

.Css_2 > p {
  margin-left: 10px;
}

.framework {
  margin: 5px 5px 5px 0;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  color: black;
}

.skill_txt {
  margin: 4px 0;
  font-size: 20px;
  height: 40px;
  padding: 4px;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  color: black;
  justify-content: space-between;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  padding-top: 100px;
}

.contact-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
  background-color: #6070ff;
  background-image: url(assets/contact-shapes.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  height: 800px;
  border-top-left-radius: 70px;
}

.contacts {
  align-items: center;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  margin: 50px;
}

.contacts-txt {
  /* margin: 0 20px 0 0; */

  /* display: flex;
  flex-direction: column;
  align-items: center; */
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  height: 200px;
}

.name-form {
  position: absolute;
  font-size: 50px;
}

#form-submit {
  margin-left: -3px;
}

form {
  /* border: 1px solid black; */
  margin-top: -60px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

#name {
  width: 327px;
  height: 48px;
  border-radius: 8px;
  padding: 5px;
}

#email {
  width: 327px;
  height: 48px;
  margin-top: 80px;
  border-radius: 8px;
  padding: 5px;
}

#msg {
  margin-top: 30px;
  border-radius: 8px;
  width: 327px;
  height: 140px;
  padding: 5px;
}
/*---------------------------Desktop styles------------------------------*/
@media screen and (min-width: 768px) {
  /*------ Navbar -------*/
  .nav {
    padding: 20px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
  }
  .my-logo {
    margin-top: 30px;
    margin-left: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 1.3rem;
    text-decoration: none;
    font-size: 19px;
    color: #6070ff;
  }

  .navbar {
    display: none;
  }
  .nav-list {
    display: flex;
    margin-top: 30px;
    margin-right: 70px;
    font-family: "Poppins", sans-serif;
    color: #344563;
  }
  .nav-item1 {
    margin-right: 20px;
  }
  .nav-item2 {
    margin-right: 20px;
  }
  .nav-item2 {
    margin-right: 20px;
  }

  /*------- Home page --------*/
  .bg {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    background-color: white;
    background-image: url(assets/Header\ bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    height: 700px;
    width: 100%;
    border-bottom-left-radius: 50px;
  }
  .home-page {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
  }
  .greet {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #091e42;
    text-shadow: steelblue;
    margin-left: -2px;
  }
  .intro {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
  }

  .social-text {
    color: #6070ff;
    font-size: 15px;
  }

  .social-icon {
    margin-left: -15px;
    display: flex;
    justify-content: start;
    font-size: 8px;
  }

  .twitter-handle {
    padding: 0 15px;
    margin-right: 3px;
    font-size: 8px;
  }

  .twitter-handle:hover {
    opacity: 0.7;
    box-shadow: 5px 5px 5px royalblue;
    transition: 100ms;
  }

  .twitter-handle:active {
    opacity: 0.3;
  }

  .linkedin-handle {
    padding: 0 15px;
    margin-right: 12px;
    font-size: 8px;
  }

  .linkedin-handle:hover {
    opacity: 0.7;
    box-shadow: 5px 5px 5px royalblue;
    transition: 100ms;
  }

  .linkedin-handle:active {
    opacity: 0.3;
  }

  .github-handle {
    padding: 0 15px;
    margin-right: 12px;
    font-size: 8px;
  }

  .github-handle:hover {
    opacity: 0.7;
    box-shadow: 5px 5px 5px royalblue;
    transition: 100ms;
  }

  .github-handle:active {
    opacity: 0.3;
  }
  /*-----my work------*/







  
  /*--------About me--------*/
  .aboutme_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    border: 3px solid #fff;
    border-top-right-radius: 25% 50px;
  }
  .arrow{
    display: none;
  }
  .intro_2 {
    display: flex;
    justify-content: center;
    margin: -20px 30px 0 -20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  /*-----Contact me-------*/
  .aboutme_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    border: 3px solid #fff;
    border-top-right-radius: 25% 50px;
  }
  .arrow {
    display: none;
  }
  .grid_item1{
    margin-left:25%;
  }
  .grid_item2{
    display:flex ;
    flex-direction: column;
    font-size: 20px;
    margin-top: 10%;
    margin-right: 25%;
  }
  .about_me{
    font-size: 30px;
  }
  .intro_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #344563;
    margin-left: 30px;
  }
  .social-text_2 {
    margin: 10px 35px;
    color: #6070ff;
    font-size: 24px;
  }

  .social-icon_2 {
    display: flex;
    flex-direction: row;
    font-size: 30px;
  }
  .medium{
    margin: -10px 5px 0 3px;
  }
  .angelist{
    margin: -7px 5px 2px 0;
  }
  .skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#253858;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight:bold;
  }
  .langs_list{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .langs_list{
    margin-right: 20px;
  }
  .js_2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 20px;
    background-color: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 3px;
    height: 100px;
    width: 100px;

  }
  .js_2 p{
    justify-content: left;
    margin-left: -11px;
  }
  .js_2 img{
    height: 40px;
    width: 40px;
  }
  .Html_2 {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border: 3px solid whitesmoke;
    font-size: 20px;
    border-radius: 3px;
    height: 100px;
    width: 100px;
  }
  .Html_2 p{
      margin-left: -28px;
  }
  .Html_2 img{
    height: 40px;
    width: 40px;
  }
  .Css_2 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 3px;
    height: 100px;
    width: 100px;
  }
  .Css_2 p{
    margin-left: -37px;
  }
  .Css_2 img{
    height: 40px;
    width: 40px;
  }
  .framework {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    color:#253858;
  }

  .skill_txt {
    margin: 4px 0;
    font-size: 20px;
    height: 40px;
    padding: 4px;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    color: #253858;
    justify-content: space-between;
  }

  /*-----Contact me-------*/
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    padding-top: 100px;
  }

  .contact-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 0 24px; */
    background-color: #6070ff;
    background-image: url(assets/contact\ form\ background\ shapes.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    border-top-left-radius: 70px;
    height: 800px;
    width: 100%;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    margin-top: 45px;
  }

  .contacts-txt {
    margin-top: -105px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
    text-align: center;
    height: 200px;
  }

  .name-form {
    font-size: 50px;
  }

  form {
    /* border: 1px solid black; */
    margin-top: -60px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #name {
    width: 327px;
    height: 48px;
    border-radius: 8px;
    padding: 5px;
  }

  #email {
    width: 327px;
    height: 48px;
    margin-top: 80px;
    border-radius: 8px;
    padding: 5px;
  }

  #msg {
    margin-top: 30px;
    border-radius: 8px;
    width: 327px;
    height: 140px;
    padding: 5px;
  }
  #form-submit {
    border: 2px solid #6070ff;
    margin-left: 42%;
  }
  #form-submit {
    border: 2px solid #6070ff;
    margin-left: 42%;
  }
}
